a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

table.bids {
  margin-top: 2em;
  min-width: 300px;
}

.bid-buyer span {
}

.bid-amount { color: red; }
.bid-amount.reserve-met { color: green; }

td.show-all-bids {
  text-align: center;
}



.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}
