.bids {
  margin-top: 2em;
  min-width: 300px;
}

.bids td {
  border: 0 solid #fff;
  border-width: 1px 0;
}

.bid__bidder {
  padding: 2px 5px;
}

.bid__amount { color: red; }
.bid__amount--reserve-met { color: green; }

.show-all-bids {
  text-align: center;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter-active {
  opacity: 1;
}
